@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-image: url('../src/assets/Electronics.jpg');
}

.bg2 {
  background-image: url('../src/assets/logo.png');
}

/* Add this CSS to handle the zoom effect */
.zoomed {
  transform: scale(1.2);
  /* Adjust the scale factor as needed for the desired zoom level */
  transition: transform 0.3s ease;
  /* Adjust the transition duration as needed */
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  background-color: white;
  padding: 20px;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-slider {
  width: 100%;
  max-height: 80vh;
}