@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.bg {
  background-image: url('../src/assets/Electronics.jpg');
}

.bg2 {
  background-image: url('../src/assets/logo.png');
}

.zoomed {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.product-description ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

::-webkit-scrollbar {
  width: 0;
}