@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-image: url('../src/assets/Electronics.jpg');
}

.bg2 {
  background-image: url('../src/assets/logo.png');
}

.zoomed {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.product-description ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}